SUBSYSTEMS=="usb", ATTRS{manufacturer}=="ArduPilot", SYMLINK+="pixhawk", MODE="0666"
SUBSYSTEMS=="usb", ATTRS{manufacturer}=="Arduino*", SYMLINK+="arduino$attr{serial}", MODE="0666"
