
[Unit]
Requires=roscore.service
PartOf=roscore.service
After=network-online.target roscore.service

[Service]
Type=simple
User=ubuntu
ExecStart=/bin/bash -c "source /opt/ros/noetic/setup.sh; source /etc/ros/env.sh; rosrun rosserial_python serial_node.py _port:=/dev/arduino _baud:=115200"
Restart=always

[Install]
WantedBy=multi-user.target


# should be linked to /etc/systemd/system/rosserial_launcher.service

